

table{
    width: 50%;
    border-spacing: 0;
    margin-top: 20px;
}

thead, tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

th, td{
    width: 33.33%;
    text-align: center;
    border: 1px solid black;
}
